body {
    font-family: Arial, sans-serif;
    background-color: #f4f6f8;
    margin: 0;
    padding: 40px;
    color: #222;
}

h1 {
    font-size: 42px;
    margin-bottom: 5px;
}

h2 {
    color: #555;
}

h3 {
    display: inline-block;
    background: white;
    padding: 20px;
    margin-right: 10px;
    border-radius: 10px;
}
